.bandeja {
    position: relative;
    height: 300px; /* Altura fija en pantallas grandes */
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    background-size: cover;
    background-position: center;
}

.bandeja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.content p {
    font-size: 16px;
    max-width: 60%;
    color: #ffffff;
}

.boton-bandeja {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #FFA500;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.boton-bandeja:hover {
    background-color: #cc8e00;
}

/* Ajustes específicos para tabletas */
@media (max-width: 768px) {
    .bandeja {
        padding-left: 30px;
        height: auto; /* Ajusta la altura para adaptarse al contenido */
    }

    .content h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 14px;
        max-width: 80%;
    }
}

/* Ajustes específicos para móviles */
@media (max-width: 480px) {
    .bandeja {
        padding: 10px; /* Reduce el padding general */
        height: auto; /* Ajusta la altura para adaptarse al contenido */
        justify-content: center; /* Centra el contenido horizontalmente */
    }

    .content h1 {
        font-size: 18px; /* Reduce el tamaño de fuente para una mejor visualización */
    }

    .content p {
        font-size: 12px; /* Reduce aún más el tamaño de fuente */
        max-width: 100%; /* Aumenta el ancho máximo para mejor ajuste */
        text-align: center; /* Centra el texto */
    }

    .boton-bandeja {
        width: auto; /* Ajusta el ancho del botón según el contenido */
    }
}
