/* Estilo base */
.columnas_4_contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0 10%;
}

.column {
  flex: 1 1 calc(25% - 20px); /* 4 columnas en escritorio */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--quarter-color);
  border: 0px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 1000px) { /* Para tablets */
  .column {
    flex: 1 1 calc(50% - 20px); /* 2 columnas en pantallas medianas */
  }
}

@media (max-width: 550px) { /* Para teléfonos móviles */
  .column {
    flex: 1 1 100%; /* 1 columna en pantallas pequeñas */
  }
  .columnas_4_contenedor {
    margin: 0 15%; /* Menos margen para aprovechar más espacio */
    gap: 10px; /* Menor espacio entre columnas */
  }
}


.column-empty {
  flex: 1 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  position: relative; /* Posición relativa para el posicionamiento absoluto del botón */

}

.column-content {
  flex: 1; /* Ocupa todo el espacio disponible, empujando el botón hacia abajo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-red-container {
  width: 100%;
  display: flex; /* Habilita flexbox para centrar la imagen dentro de este div */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: auto; /* Altura se ajusta al contenido */
}

.red-container {
  width: auto; /* Ancho se ajusta al contenido, útil si la imagen es más pequeña que el contenedor */
  max-width: 100%; /* No permite que la imagen exceda el ancho del contenedor */
  height: auto; /* Altura se ajusta para mantener la proporción */
  object-fit: cover; /* Cubre el área del contenedor, recortando si es necesario */
}

.column-text {
  color: var(--fifth-color);
  font-size: 25px;
  margin-top: 15px; /* Espacio después de la imagen */
}

.column-paragraph {
  text-align: center;
  font-size: 17px;
  color: #666;
  margin-top: 10px; /* Espacio después del título */
}

.button-style {
  margin-top: auto; /* Empuja el botón hacia abajo */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none; /* Importante para que no parezca un enlace */
}

.button-style:hover {
  background-color: var(--secondary-color);
}
