footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0; /* Agrega padding para mejor espaciado */
}

.footer-logo {
  flex: 1 100%; /* Hace que el logo tenga la anchura completa en móviles */
  text-align: center; /* Centra el logo */
  margin-bottom: 20px; /* Espaciado después del logo */
}

.footer-logo img {
  width: 100%; /* Hace que la imagen se ajuste al contenedor */
  max-width: 160px; /* Máximo tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

@media (min-width: 768px) {
  footer {
      justify-content: space-between; /* Distribuye el espacio entre los elementos del footer */
  }

  .footer-logo {
      flex: 0 1 auto; /* El logo no toma toda la fila */
      text-align: left; /* Alinea el logo a la izquierda en vistas más grandes */
  }

  .footer-logo img {
      max-width: 250px; /* Aumenta el tamaño máximo de la imagen en pantallas más grandes */
  }
}

@media (max-width: 768px) {
  .footer-logo {
      order: -1; /* Coloca el logo al principio en móviles si necesario */
  }

  .footer-logo img {
      max-width: 220px; /* Reduce el tamaño de la imagen en móviles */
  }
}
