.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Espacio entre las columnas */
    justify-content: center; /* Centra horizontalmente */
}

.nutrition-container {
    width: 48%;
    background: var(--quarter-color);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    transition: box-shadow 0.3s ease-in-out;
}
.nutrition-container:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--tertiary-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-radius: 8px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

th {
    background-color: var(--tertiary-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .nutrition-container {
        width: 100%; /* Ajusta el ancho para pantallas pequeñas */
    }

    h1, h2, p {
        text-align: center; /* Centra el texto para una mejor visualización en dispositivos móviles */
    }
}

@media (max-width: 480px) {
    .content-container {
        padding: 10px;
    }

    .nutrition-container {
        padding: 10px;
    }

    p, th, td {
        font-size: 14px; /* Reduce el tamaño de fuente para adaptarse a pantallas más pequeñas */
        text-align: center; /* Asegura que todo el texto esté centrado */
    }

    h1, h2 {
        font-size: 18px; /* Ajusta el tamaño del título para la legibilidad */
    }
}
