.portada-container {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  position: relative;
  background-color: #f0f0f0;
}

.portada-container img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}

.image-text {
  position: absolute;
  left: 15%; /* Espacio desde el borde izquierdo del contenedor */
  top: 50%; /* Ajuste vertical */
  transform: translate(0%, -50%); /* Centrado perfecto */
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  text-align: left;
}

.container-externo {
  position: absolute;
  top: 50%; /* Alineación vertical igual a image-text */
  left: 8%; /* Espacio desde el borde izquierdo del contenedor */
  transform: translateY(-50%); /* Alineación vertical centrada */
  display: flex;
  align-items: center; /* Alineación vertical de los ítems */
  color: white;
  background-color: transparent; /* Fondo transparente o según diseño */
  border-radius: 8px;
  margin-right: 20px;
}

.bi-play {
  font-size: 80px; /* Tamaño del ícono */
}


.column-red-container {
  justify-content: center; /* Centra horizontalmente dentro de .container */
  align-items: center; /* Centra verticalmente dentro de .container */
}

.red-container {
  max-width: 180px; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

/* Estilo base para el cuerpo y margen para visualización */
body {
  margin: 2rem;
}

/* Ajustes para el diálogo del modal, asegurando una presentación adecuada y centrada */
.modal-dialog {
  max-width: 800px; /* Máximo ancho del modal para mantener su contenido visible y legible */
  margin: 30px auto; /* Centra el modal vertical y horizontalmente con un margen adecuado */
}

/* Configuración del cuerpo del modal para integrar el contenido correctamente */
.modal-body {
  position: relative; /* Posicionamiento relativo para elementos internos absolutos como el botón de cierre */
  padding: 0; /* Elimina el padding para control total sobre el contenido interno */
}

/* Ajustes para el botón de cierre para asegurar su visibilidad y accesibilidad */
.btn-close {
  position: absolute; /* Posicionamiento absoluto para colocarlo correctamente */
  right: -30px; /* Coloca a la derecha fuera del contenido para evitar solapamientos */
  top: 0; /* Alinea al top del modal */
  z-index: 1050; /* Asegura que esté sobre todos los demás elementos del modal */
  background: #fff; /* Fondo blanco para mejorar la visibilidad sobre fondos oscuros */
  border-radius: 50%; /* Borde redondo para mejorar la estética */
  width: 32px; /* Ancho fijo para mantener la forma */
  height: 32px; /* Altura fija para mantener la forma */
  display: flex; /* Utiliza flex para centrar el ícono dentro del botón */
  align-items: center; /* Centra verticalmente el ícono */
  justify-content: center; /* Centra horizontalmente el ícono */
}

/* Mejora visual para el hover y focus del botón de cierre */
.btn-close:hover,
.btn-close:focus {
  background: #e0e0e0; /* Cambia el fondo al hacer hover para indicar interactividad */
  outline: none; /* Elimina el outline al hacer focus para evitar distracciones visuales */
}


/* Añade media queries para ajustar la posición del texto en tamaños de pantalla más pequeños */

@media (max-width: 1024px) {
  .container-externo {
    left: 5%; /* Reducir el margen izquierdo en tablets */
  }
}

@media (min-width: 769px) {
  #catalogo-index {
    font-size: 100px; /* Reduce el tamaño del texto para evitar desbordamiento */
  }

  #home {
    font-size: 40px; /* Reduce el tamaño del texto para evitar desbordamiento */
  }

  #us {
    font-size: 80px;
  }

  #image-text-us{
    left: 15%; /* Espacio desde el borde izquierdo del contenedor */
    top: 55%;
  }

  #tomate-beef{
    font-size: 55px; /* Reduce el tamaño del texto para evitar desbordamiento */
  }

  #tomate-racimo{
    font-size: 55px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }

  #tomate-cherry{
    font-size: 55px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }

  #tomate-granel{
    font-size: 55px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }

  #tomate-saladete{
    font-size: 55px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }
}
@media (max-width: 768px) {
  .image-text {
    left: 17%;
    padding: 5px 10px; /* Reducción del padding para pantallas pequeñas */
  }

 .bi-play {
    font-size: 60px; /* Tamaño del ícono */
  }

  .portada-container {
    max-height: 400px; /* Reducir la altura del contenedor en tablets */
  }

  #catalogo-index {
    font-size: 70px; /* Reduce el tamaño del texto para evitar desbordamiento */
  }

  #home {
    font-size: 25px; /* Reduce el tamaño del texto para evitar desbordamiento */
  }

  #us {
    font-size: 80px;
  }

  #image-text-us{
    left: 5%; /* Espacio desde el borde izquierdo del contenedor */
    top: 60%;
  }

  #tomate-beef{
    font-size: 40px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }

  #tomate-racimo{
    font-size: 40px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }

  #tomate-cherry{
    font-size: 40px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }

  #tomate-granel{
    font-size: 40px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }

  #tomate-saladete{
    font-size: 40px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 10%;
  }
}

@media (max-width: 480px) {
  .image-text {
    left: 20%; /* Mantener un margen consistente en dispositivos móviles */
    padding: 5px 10px; /* Reducción del padding para pantallas pequeñas */
  }

  .bi-play {
    font-size: 40px; /* Tamaño del ícono */
  }

  .portada-container {
    max-height: 300px; /* Reducir la altura del contenedor en tablets */
  }

  #catalogo-index {
    font-size: 50px; /* Reduce el tamaño del texto para evitar desbordamiento */
  }

  #home {
    font-size: 20px; /* Reduce el tamaño del texto para evitar desbordamiento */
  }

  #us {
    font-size: 50px;
  }

  #image-text-us{
    left: 5%; /* Espacio desde el borde izquierdo del contenedor */
    top: 60%;
  }

  #tomate-beef{
    font-size: 30px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 5%;
  }

  #tomate-racimo{
    font-size: 30px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 5%;
  }

  #tomate-cherry{
    font-size: 30px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 5%;
  }

  #tomate-granel{
    font-size: 30px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 5%;
  }

  #tomate-saladete{
    font-size: 30px; /* Reduce el tamaño del texto para evitar desbordamiento */
    left: 5%;
  }

}


  