.product-container {
    display: flex;
    flex-direction: row; /* Dirección horizontal por defecto */
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 20px;
    flex-grow: 1;
}

.product-details h3 {
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}

.product-details ul {
    list-style: none;
    padding: 0;
}

.product-details li {
    padding: 5px 0;
    color: #666;
}

@media (min-width: 1025px) {
    #image-innovacion-1 {
        width: 100%;   
    }
    #image-innovacion-2 {
        width: 50%;   
    }
}

@media (max-width: 1024px) {
    #image-innovacion-1 {
        width: 250%; 
    }

    #image-innovacion-2 {
        width: 50%;   
    }
}

/* Media Queries para adaptarse a tabletas */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column; /* Cambia a vertical */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .product-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .product-image img {
        max-width: 70%; /* Ocupa hasta el 70% del ancho disponible */
    }

    .product-details h3 {
        font-size: 18px; /* Reducción del tamaño del texto */
    }

    #image-innovacion-1 {
        width: 100%; 
    }

    #image-innovacion-2 {
        width: 60%;   
    }
}


/* Media Queries para adaptarse a teléfonos móviles */
@media (max-width: 480px) {
    .product-container {
        margin: 10px;
        padding: 10px; /* Reducción del margen y del padding */
    }

    .product-image img {
        width: 0%;
    }

    .product-info {
        padding: 10px; /* Menor padding */
    }

    .product-details h3 {
        font-size: 16px; /* Tamaño de texto aún menor para móviles */
    }
}

