/* Estilos del contenedor que podría estar afectando la visibilidad del modal */
.slides-container {
  margin-top: 10px;
  position: relative;
  width: 100%;  /* Asegura que ocupa el ancho del contenedor padre */
  height: 600px;  /* Ajusta la altura automáticamente según el contenido */
  max-height: 670px;  /* Puedes mantener esto si quieres limitar la altura máxima */
  overflow: visible;  /* Cambiado para permitir visibilidad del modal */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0; /* Asegúrate de que es menor que el z-index de modal */
}

.background_card {
  position: absolute;
  background-color: rgb(9, 54, 1);  /* Color verde */
  border-radius: 8px;
  z-index: 1;  /* Asegura que esté detrás de todos los otros contenidos */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra ligera para efecto de profundidad */
}

.card {
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.2);
  overflow: visible; /* Cambiado a visible para permitir que el modal se muestre */
  z-index: 2;  /* Asegúrate de que está por debajo del modal */
}

.card.left-card {
  top: 20px;
  left: 300px;
  width: 25%;
  height: auto;
  overflow: visible;
  z-index: 3;  /* Incrementado para que esté por encima del background_card pero debajo del modal */
}

.card.right-card {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40%;
  height: auto;
  padding: 20px;
  overflow: visible;
  z-index: 1050;  /* Asegúrate de que esto coloca la tarjeta sobre otros elementos si es necesario */
}

/* Estilos adicionales para otros elementos */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

h1, p, ul, button {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #FFA500;
  color: white;
}

button:hover {
  background-color: #cc8400;
}

.button-style {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #FFA500;
  color: white;
  text-align: center;
  text-decoration: none;
}

.button-style:hover {
  background-color: #cc8400;
}


