.text-container {
    position: relative; /* Posición absoluta para poder ajustar top, bottom, left, right */
    margin-top: 2%;
    left: 7%; /* Ajusta la posición desde la izquierda */
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .text-with-line {
    display: inline-block; /* Ajusta el contenedor al tamaño del texto */
    position: relative; /* Permite posicionar la línea absolutamente con respecto a este contenedor */
  }
  
  .colored-text {
    color: rgba(51, 151, 9, 0.7); /* Color del texto */
    font-size: 32px; /* Tamaño de fuente */
    font-weight: bold; /* Opcional: negrita */
  }
  
  .text-with-line::before {
    content: ''; /* Necesario para crear un pseudo-elemento */
    position: absolute; /* Posiciona la línea absolutamente con respecto al contenedor */
    top: -5%; /* Ajusta la posición verticalmente */
    left: 0; /* Ajusta la posición horizontalmente */
    width: 50%; /* Ancho de la línea (100% del contenedor) */
    height: 3px; /* Grosor de la línea */
    background-color: rgba(255, 217, 0, 0.7); /* Color de la línea */
  }