
/* Contenedor principal que envuelve todo */
.contenedor-sup {
  position: relative;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  background-color: var(--primary-color); /* Color de fondo */
}

/* Sección superior de color */
.seccion-sup {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Línea serpenteante */
.separador-serpenteante-sup {
  position: absolute;
  top: -7rem;
  width: 100%;
  height: auto;
  z-index: 2;
}

.color-serpenteante-sup {
  fill: var(--tertiary-color);
}

@media (min-width: 1501px) {
  .contenedor-sup {
    height: 5rem; /* Ajusta la altura del contenedor */
  }

  .seccion-sup {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-sup {
    top: -1rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-sup {
    margin-top: 16rem; /* Ajusta el espacio superior */
  } 

}




@media (min-width: 1024px) and (max-width: 1500px) {

  .contenedor-sup {
    height: 20rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-sup {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-sup {
    top: -1rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-sup {
    margin-top: 12rem; /* Ajusta el espacio superior */
  }
}

@media (max-width: 1024px) and (min-width: 768px) {

  .contenedor-sup {
    height: 8rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-sup {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-sup {
    top: -2rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-sup {
    margin-top: 16rem; /* Ajusta el espacio superior */
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .contenedor-sup {
    height: 5rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-sup {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-sup {
    top: -3rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-sup {
    margin-top: 16rem; /* Ajusta el espacio superior */
  } 
}

@media (max-width: 480px) {
  .contenedor-sup {
    height: 5rem; /* Ajusta la altura del contenedor */
  }

  .seccion-sup {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-sup {
    top: -1rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-sup {
    margin-top: 16rem; /* Ajusta el espacio superior */
  } 

} 
