
/* Contenedor principal que envuelve todo */
.contenedor-inf {
  position: relative; /* Para manejar posiciones absolutas dentro */
  width: 100%; /* Ocupa todo el ancho */
 
  overflow: hidden; /* Asegura que no haya desbordes */
}

/* Sección superior de color */
.seccion-superior-inf {
  background-color: var(--secondary-color); /* Color de la parte superior */
  width: 100%; /* Ocupa todo el ancho */
  height: 0rem; /* Altura fija de la sección superior */
  position: absolute;
  top: 0; /* Posición inicial */
  left: 0;
  z-index: 1; /* Aparece por encima del contenedor principal */
}

/* Línea serpenteante */
.separador-serpenteante-inf {
  position: absolute;
  top:-8.5rem; /* Ubica la línea justo debajo de la sección superior */
  width: 100%; /* Ocupa todo el ancho */
  height: auto; /* Ajusta automáticamente su altura */
  z-index: 2; /* Aparece sobre el contenedor principal pero junto con la sección superior */
}

.color-serpenteante-inf {
  fill: var(--sex-color); /* Color de la línea serpenteante */
}

/* Contenedor principal */
.contenedor-principal-inf {
  background-color: var(--tertiary-color); /* Color del contenedor principal */
  padding: 2rem; /* Espaciado interno */
  position: relative; /* Flujo normal dentro del contenedor */
  z-index: 1; /* Aparece debajo de la sección superior */
  margin-top: 14rem; /* Espacio para que quede debajo de la línea serpenteante */
  height: auto;
  display: flex; /* Habilita Flexbox */
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: center; /* Centra horizontalmente los elementos */
  justify-content: center; /* Centra verticalmente los elementos */
}

@media (min-width: 1501px) {

  .contenedor-inf {
    height: 10rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-inf {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-inf {
    top: -9rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-inf {
    margin-top: 16rem; /* Ajusta el espacio superior */
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {

  .contenedor-inf {
    height: 12rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-inf {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-inf {
    top: -6rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-inf {
    margin-top: 16rem; /* Ajusta el espacio superior */
  }
}

@media (max-width: 1024px) and (min-width: 768px) {

  .contenedor-inf {
    height: 8rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-inf {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-inf {
    top: -2rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-inf {
    margin-top: 16rem; /* Ajusta el espacio superior */
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .contenedor-inf {
    height: 5rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-inf {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-inf {
    top: -3rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-inf {
    margin-top: 16rem; /* Ajusta el espacio superior */
  } 
}

@media (max-width: 480px) {
  .contenedor-inf {
    height: 5rem; /* Ajusta la altura del contenedor */
  }

  .seccion-superior-inf {
    height: 0rem; /* Ajusta la altura de la sección superior */
  }

  .separador-serpenteante-inf {
    top: -1rem; /* Ajusta la posición de la línea serpenteante */
  }

  .contenedor-principal-inf {
    margin-top: 16rem; /* Ajusta el espacio superior */
  } 

} 
